* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

body > div {
    margin: auto;
}

/* Block */
.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity .5s ease;
    min-width: 120px;
   
}

.btn:hover {
    opacity: 0.8;
}

/* CSS cho btn nào đứng cạnh btn đứng đằng sau */
.btn + .btn {
    margin-left: 20px;
}

.btn--success {
    background-color: green;
}

.btn--warning {
    background-color: yellow;
}

.btn--danger {
    background-color: red;
}

.btn--disabled {
    opacity: 0.5 !important;
    cursor: default;
}


.btn--size-s {
    padding: 8px 32px;
}

.btn--size-l {
    padding: 16px 56px;
}